*fas
*fa
*pyc
*gz
*csv
*zip

.idea
.coverage
htmlcov
cover

# BLAST files
*asnb

pyphylogenomics.egg-info
*nal
*nin
*nhr
*nsq

*naa
*nab
*nac
*nsi
*nsd
*nog
*idx

*list
list
build/*
dist/*

docs/_build
